{% extends "base.html" %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Change Password</h2>
        <ol class="breadcrumb">
            <li>
            <a href="index.html">Home</a>
            </li>
           <li class="active">
            <strong>Change Password</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Change Password <small>Change password</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form role="form" method = "post" name = "change password" action = "" class = "form-horizontal">
                        {{form.hidden_tag()}}
                        <div class="form-group"><label class = "col-sm-2 control-label">Current Password</label>
                            <div class = "col-sm-8">
                                {{form.password(type="password",class="form-control")}}
                            </div>
                            <div class = "col-sm-2">
                                {% for error in form.password.errors %} <span style = "color:#f00">[{{error}}]</span>{% endfor %} 
                            </div>
                        </div>
                        <div class="form-group"><label class = "col-sm-2 control-label">New Password</label>
                            <div class = "col-sm-8">
                                {{form.newpassword(class="form-control",type="password")}}
                            </div>
                            <div class = "col-sm-2">
                                {% for error in form.newpassword.errors %} <span style = "color:#f00">[{{error}}]</span>{% endfor %} 
                            </div>
                        </div>
                        <div class="form-group"><label class = "col-sm-2 control-label">Confim Password</label>
                            <div class = "col-sm-8">
                                {{form.confimpassword(class="form-control",type="password")}}
                            </div>
                            <div class = "col-sm-2">
                                {% for error in form.confimpassword.errors %} <span style = "color:#f00">[{{error}}]</span>{% endfor %} 
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class = "col-sm-2"></div>
                            <div class = "col-sm-8">
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs"  type="submit"><strong>Save</strong></button>
                            </div>
                            <div class = "col-sm-2"></div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
