<!DOCTYPE html>
<html>
  <head>
    <!--S-title-->
    {% if title %}
    <title>{{title}} --General Data Tools</title>
    {% else %}
    <title>General Data Tools</title>
    {% endif %}
    <!--E-title-->
    <!--S-meta-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="行政区划，百度地图区划围栏路径，手机号码归属地，业务发展统计，周报表，月报表" />
    <meta name="description" itemprop="description" content="欢迎使用内部数据管理工具，行政区划，围栏路径，手机号码归属地，业务发展统计" />
    <!--E-meta-->
    <!--S-javascript-->
    <script type="text/javascript" src = "http://api.map.baidu.com/api?v=1.3"></script>
    <!--E-javascript-->
    <!--S-css-->
    <style type ="text/css">
      html,body{
        margin:0px;
        height:100%;
      }
      #container{
        height:100%;
        background-color:#ccf;
      }
    </style>
    <!--E-css-->
  </head>
  <body>
    <div id = "container"></div>
    <script type  = "text/javascript">
      var map = new BMap.Map("container");
      map.centerAndZoom(new BMap.Point(116.43765,39.914850),5);
      map.addControl(new BMap.NavigationControl({type:BMAP_NAVIGATION_CONTROL_SMALL}));
      map.enableScrollWheelZoom();
      function getBoundary(){
        var bdary = new BMap.Boundary();
        var name = "石家庄";
        bdary.get(name,function(rs){
          map.clearOverlays();
          var count = rs.boundaries.length;
          for(var i = 0; i < count; i++){
            var ply = new BMap.Polygon(rs.boundaries[i],{strokeWeight:2,strokeColor:"#ff0000"});
            map.addOverlay(ply);
            map.setViewport(ply.getPath());
          }
        });
      }
      getBoundary();
    </script>
  </body>
</html>
